 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Fundo-tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
    
}
body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/imgcd.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

    /* CSS for header */
 header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/imgcd.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
/*footer{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}
/*/
     .menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    position: relative;
    }
    .menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
    position: relative;
}
.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
    top: -0%;
    text-align: center;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f5f5f5;
      margin-right: 20px;
    }

    .nav-items a {
      text-decoration: none;
      color: #000;
      padding: 35px 20px;
    }

    /* CSS for main element */
    .intro{
      display: flex;
    justify-content: center;
    gap: 20px;
    }
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 520px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .intro h1 {
      font-family: sans-serif;
      font-size: 60px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .intro p {
      font-size: 20px;
      color: #d1d1d1;
      text-transform: uppercase;
      margin: 20px 0;
    }

    .intro button {
      width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}
.intro button:hover {
    color: rgb(251, 255, 0);
    border: none;
}
.intro button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.intro button:hover:before {
    width: 100%;
}

    .achievements {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .achievements .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .achievements .work i {
      width: fit-content;
      font-size: 50px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 12px;
    }

    .achievements .work .work-heading {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .achievements .work .work-text {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    .about-me {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      border-top: 2px solid #eeeeee;
    }

    .about-me img {
      width: 500px;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .about-me-text h2 {
      font-size: 30px;
      color: #333333;
      text-transform: uppercase;
      margin: 0;
    }

    .about-me-text p {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    /* CSS for footer */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #302f49;
      padding: 40px 80px;
    }

    .footer .copy {
      color: #fff;
    }

    .bottom-links { 
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 0;
    }

    .bottom-links .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .bottom-links .links span {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .bottom-links .links a {
      text-decoration: none;
      color: #a1a1a1;
      padding: 10px 20px;
    }